:root {
    --app-bg-color: rgba(0, 183, 255, 0.603);
    --border-color: rgba(128, 128, 128, 0.500);
    --listbox-bg-color: rgba(211, 211, 211, 0.897);
    --newbtn-bg-color: grey;
    --newbtn-color: whitesmoke;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.chill {
    display: none;
}
